<div class="background-container">
  <div class="background"></div>
<div class="message">
  <h2>These Lovely Days</h2>
  <div class="location">in Cape Town, South Africa.</div>
  <div class="contact"><%= link_to "Contact", "http://brea.kfa.st", :title => "Ruby on Rails and Backbone, Cape Town" %>.</div>
</div></div>
